/* .overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.626);
  z-index: 10;
}
.container {
  position: absolute;
  width: 40%;
  min-height: 50vh;
  left: 50%;
  transform: translateX(-50%);
  top: 10%;
  background-color: white;
  border-radius: 10px;
  padding: 20px 20px;
}
.btn{
    padding: 5px 10px;
    position: fixed;
    top: 5px;
    right: 5px;
    color: red;
    font-weight: 600;
} */
