@import "tailwindcss";

@font-face {
  font-family: "Cairo";
  src: url("/src/assets/Cairo-Regular.ttf");
}

body{
  font-family: "Cairo";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to top,#cfddfa, #e8effd);
}
.custom-scroll::-webkit-scrollbar {
  width: 9px; 
}

.custom-scroll::-webkit-scrollbar-track {
  background: #f0f6fe; 
  border-radius: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #1150ce; 
  border-radius: 8px;
  border: 2px solid #f0f0f0; 
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #0062a4;
}